body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EBF3E8;
    color: #333;
}

header {
    background-color: #B4B4B8;
    color: white;
    padding: 5px;
    text-align: center;
}

nav {
    background-color: #B2C8BA;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

section {
    padding: 20px;
    background-color: #E3E1D9;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
}

h2 {
    color: #333;
}

footer {
    background-color: #B4B4B8;
    color: white;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}